<div class="container">

    <div class="d-flex gap-5">

        <div class="card" style="width: 30%;">
            <img src="https://images.hola.com/imagenes/seleccion/20191230157059/smartphone-moviles-favoritos-influencers/0-763-325/smartphone-1a-a.jpg?tx=w_500" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Iphone 12  </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h5>$400</h5>
              <a href="#" class="btn btn-primary">Compra ahora</a>
            </div>
          </div>
          <div class="card" style="width: 30%;">
            <img src="https://images.hola.com/imagenes/seleccion/20191230157059/smartphone-moviles-favoritos-influencers/0-763-325/smartphone-1a-a.jpg?tx=w_500" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Iphone 12  </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h5>$400</h5>
              <a href="#" class="btn btn-primary">Compra ahora</a>
            </div>
          </div>
          <div class="card" style="width: 30%;">
            <img src="https://images.hola.com/imagenes/seleccion/20191230157059/smartphone-moviles-favoritos-influencers/0-763-325/smartphone-1a-a.jpg?tx=w_500" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Iphone 12  </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h5>$400</h5>
              <a href="#" class="btn btn-primary">Compra ahora</a>
            </div>
          </div>

    </div>

</div>